#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>About</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p>I am the about page</p>
      </div>
    ## container will be closed by footer

#parse("footer.vm")
