#set($nav="browse")
#parse("navbar.vm")

    <div class="container">
      <div class="row">
        <div class="col-md-12">I am a browse page</div>
      </div>
    ## container will be closed by footer
