## Render a tree view of a regster
##   $register will be bound to the register
##   $item     will be bound to the corresponding RegisterItem

#set($rootType = $item.getPropertyValue("ui:hierarchyRootType"))
#set($rootProp = $item.getPropertyValue("ui:hierarchyRootProperty"))

#if($rootType) 
  #set($queryPart="?entity a $rootType. ")
#elseif($rootProp)
  #set($queryPart="?entity $rootProp []. ")
#else
  ## can't happen
  #set($queryPart="")
#end

#set($query="SELECT DISTINCT ?item WHERE {<$register.uRI> ^reg:register ?item . ?item version:currentVersion/reg:definition/reg:entity ?entity . $queryPart}")

#set($matches=$lib.reg.describeAsItems($query))

#foreach($itemMember in $matches)        
  #set($memitem = $itemMember.item)
  #set($member = $itemMember.member)
  #if( !$memitem.hasResourceValue("reg:status", "reg:statusReserved") )

    #set($id="entry-$foreach.count")
    <div class="hlist-entry" id="$id">
        <a href="#" data-target="#$id"><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a href="#linkhref($memitem)" title="$memitem.uRI">$member.name</a>
        #tdescription($member,"",70)
        <span class="pull-right">#showstatus($memitem.getPropertyValue("reg:status"))</span>
    </div>

  #end
#end
      
